 body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    margin-bottom: 4px;
}

button {
    color: white;
    background-color: green;
    border-color: green;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#delete-btn {
    background: rgb(118, 18, 18);
    color: #f7f7f7;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}